@using UnicornStore.AspNet.Models
@{
    ViewBag.Title = "Log in with...";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <section id="socialLoginForm">
            @await Html.PartialAsync("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}