<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="UnicornStoreLocalNuGetFeed" value="LocalNuGetFeed\" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <activePackageSource>
    <clear />
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>
