<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.DeviceInfo" version="2.1.0" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="EntityFramework.Core" version="7.0.0-beta5-12983" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="EntityFramework.InMemory" version="7.0.0-beta5-12983" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Ix-Async" version="1.2.3" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.Caching.Interfaces" version="1.0.0-beta5-11251" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-beta5-11251" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.0-beta5-11230" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta5-11259" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.DependencyInjection.Interfaces" version="1.0.0-beta5-11259" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta5-11255" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta5-11255" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta5-11233" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Remotion.Linq" version="2.0.0-alpha-002" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="System.Collections.Immutable" version="1.1.34-rc" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xamarin.Forms" version="1.3.3.6323" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
</packages>