@model UnicornStore.AspNet.ViewModels.Cart.AddViewModel

@{
    ViewBag.Title = Model.CartItem.Product.DisplayName;
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_CategorySidebar", Model.TopLevelCategories)
        </div>
        <div class="col-md-10">
            <p></p>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Item added to your cart</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-9">
                        <h3>Item added to your cart</h3>
                        <dl class="dl-horizontal">
                            <dt>Quantity in cart:</dt>
                            <dd>@Model.CartItem.Quantity</dd>
                            <dt>Unit Price:</dt>
                            <dd>$@Model.CartItem.PricePerUnit</dd>
                            <dt>Total cost:</dt>
                            <dd>$@(Model.CartItem.Quantity * Model.CartItem.PricePerUnit)</dd>
                            <dd> @Html.ActionLink("Remove from cart", "Remove", new { productId = Model.CartItem.ProductId })</dd>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        @Html.Partial("_ProductCardThumb", Model.CartItem.Product)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
