<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Core" version="7.0.0-beta5-12991" targetFramework="win81" userInstalled="true" />
  <package id="EntityFramework.Relational" version="7.0.0-beta5-12991" targetFramework="win81" userInstalled="true" />
  <package id="EntityFramework.Sqlite" version="7.0.0-beta5-12991" targetFramework="win81" userInstalled="true" />
  <package id="Ix-Async" version="1.2.3" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="0.13.0-build26067" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.13.0-build26067" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsStore" version="0.13.0-build26067" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Data.Sqlite" version="1.0.0-beta5-10601" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.14-beta" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.Caching.Interfaces" version="1.0.0-beta5-11253" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-beta5-11253" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.0-beta5-11233" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta5-11262" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.DependencyInjection.Interfaces" version="1.0.0-beta5-11262" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta5-11258" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta5-11258" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta5-11236" targetFramework="win81" userInstalled="true" />
  <package id="Remotion.Linq" version="2.0.0-alpha-002" targetFramework="win81" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.34-rc" targetFramework="win81" userInstalled="true" />
  <package id="System.Collections.NonGeneric" version="4.0.0-beta-22822" targetFramework="win81" userInstalled="true" />
  <package id="System.Data.Common" version="4.0.0-beta-22822" targetFramework="win81" userInstalled="true" />
  <package id="System.Globalization" version="4.0.10-beta-22231" targetFramework="win81" userInstalled="true" />
  <package id="System.IO" version="4.0.10-beta-22231" targetFramework="win81" userInstalled="true" />
  <package id="System.Runtime" version="4.0.20-beta-22231" targetFramework="win81" userInstalled="true" />
  <package id="System.Text.Encoding" version="4.0.10-beta-22231" targetFramework="win81" userInstalled="true" />
  <package id="System.Threading.Tasks" version="4.0.10-beta-22231" targetFramework="win81" userInstalled="true" />
</packages>