@model IEnumerable<UnicornStore.AspNet.Models.UnicornStore.Category>

<div class="well">
    <h4>Departments</h4>
    @foreach (var item in Model)
    {
        <p>
            <strong>@Html.ActionLink(item.DisplayName, "Category", "Shop", new { id = item.CategoryId })</strong>
            @if (item.Children.Any())
            {
                @foreach (var child in item.Children)
                {
                    <br />
                    <em>
                        @Html.ActionLink(child.DisplayName, "Category", "Shop", new { id = child.CategoryId })
                    </em>
                }
            }
        </p>
    }
</div>







