@model UnicornStore.AspNet.Models.UnicornStore.Product

    <div class="panel panel-default" style="height: 400px;">
        <div class="panel-body">
            <div style="text-align: center;">
                <p title="@Model.DisplayName">
                    @Html.ActionLink(Model.DisplayName, "Product", "Shop", new { id = Model.ProductId })
                </p>
                @if (Model.CurrentPrice == Model.MSRP)
                {
                    <p>
                        <span style="font-size: large">$@Model.CurrentPrice</span>
                        <br />
                        <br />
                    </p>
                }
                else
                {
                    <p>
                        <span class="text-success" style="font-size: large">$@Model.CurrentPrice</span><br />
                        <span class="text-danger"><del>$@Model.MSRP</del></span>
                        (save $@(Model.MSRP - Model.CurrentPrice))
                    </p>
                }
                <img src="@Url.Content(Model.ImageUrl)" width="120" />
                <p>@Html.DisplayFor(modelItem => modelItem.Description)</p>
            </div>
    </div>
</div>



