@model UnicornStore.ViewModels.Shop.IndexViewModel

@{
    ViewBag.Title = "Shop";
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("_CategorySidebar", Model.TopLevelCategories)
        </div>
        <div class="col-md-10">
            <div>
                <h2>Hot Deals</h2>
                <div class="row">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="col-md-3">
                            @Html.Partial("_productCard", item)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
